<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ERROR</title>
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fontawesome CSS -->
    <link href="~/css/all.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper-main">
        <!-- full Title -->
        <div style="position: relative">
            <div class="container">
                <!-- Page Heading/Breadcrumbs -->
                <div class="breadcrumb-main">
                </div>
            </div>
        </div>

        <!-- Page Content -->
        <div class="container">
            <div class="error-contents">
                <h3 style="margin-top: 20%">Oops!</h3>
                <h4>
                    <p>Lo sentimos, no tienes permitido entrar a este sitio.</p>
                </h4>
                <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Volver</a>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.appear.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>
