@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper-main">
    <div class="blog-main contact-left">
        <form action="" method="post" class="col-lg-6 mb-4">
            <div class="card control-group form-group">
                <h5 class="card-header">Usuario o email</h5>
                <div class="input-group">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <h5>Enviaremos un correo al email registrado en su cuenta de usuario.</h5>
            <hr />
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>
