@using Microsoft.AspNetCore.Identity;
@using CompraVenta.ViewModels;
@inject SignInManager<Account> SignInManager
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper-main">
    <!-- full Title -->
    <div class="full-title">
        <div class="container">
            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3"> Contáctanos </h1>
            <div class="breadcrumb-main">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div class="contact-main">
        <div class="container">
            <!-- Content Row -->
            <div class="row">
                <!-- Map Column -->
                <div class="col-lg-8 mb-4 contact-left">
                    <h3>Escríbenos</h3>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <form name="sentMessage" id="contactForm" novalidate>
                            <div class="control-group form-group">
                                <div class="controls">
                                    <textarea rows="5" cols="100" placeholder="Mensaje" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                                </div>
                            </div>
                            <div id="success"></div>
                            <!-- For success/fail messages -->
                            <button type="submit" class="btn btn-primary" id="sendMessageButton">Enviar</button>
                        </form>
                    }
                    else
                    {
                        <div class="container my-5">
                            <h5 class="text-center">Regístrese en la página para poder contactarnos.</h5>
                        </div>
                    }
                </div>
                <!-- Contact Details Column -->
                <div class="col-lg-4 mb-4 contact-right">
                    <h3>Detalles</h3>
                    <p>
                        UH, Vedado
                        <br>Havana Cuba
                        <br>
                    </p>
                    <p>
                        <abbr title="Phone">P</abbr>: (123) 456-7890
                    </p>
                    <p>
                        <abbr title="Email">E</abbr>:
                        <a href="mailto:name@example.com"> equipo4@dominio.com </a>
                    </p>
                    <p>
                        <abbr title="Hours">H</abbr>: Lunes - Viernes: 9:00 AM to 5:00 PM
                    </p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
</div>
